<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>COVID-19 Information</title>
	<link rel="stylesheet" type="text/css" href="static/css/covid.css">
</head>
{% block content %}
{% endblock %}

</html>
