{% extends 'basic.jinja2' %}

{% block content %}
<body class="about">
	<div class="about">
		<h2>OVERVIEW:</h2>
		<p>Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.</p>
		<p>The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing. You can protect yourself by washing your hands frequently, avoiding touching your face, and avoiding close contact (1 meter or 3 feet) with people who are unwell.</p>
		<p>How it spreads</p>
		<p>Coronavirus disease spreads primarily through contact with an infected person when they cough or sneeze. It also spreads when a person touches a surface or object that has the virus on it, then touches their eyes, nose, or mouth.</p>
	</div>
	<div class="about">
		<h2>SYMPTOMS</h2>
		<p>People may be sick with the virus for 1 to 14 days before developing symptoms. The most common symptoms of coronavirus disease (COVID-19) are fever, tiredness, and dry cough. Most people (about 80%) recover from the disease without needing special treatment.</p>
		<p>More rarely, the disease can be serious and even fatal. Older people, and people with other medical conditions (such as asthma, diabetes, or heart disease), may be more vulnerable to becoming severely ill.</p>
	</div>
	<div class="about">
		<h2>PREVENTION</h2>
		<p>There’s currently no vaccine to prevent coronavirus disease (COVID-19).</p>
		<p>You can protect yourself and help prevent spreading the virus to others if you DO:</p>
		<ul>
			<li>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</li>
			<li>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze</li>
			<li>Avoid close contact (1 meter or 3 feet) with people who are unwell</li>
			<li>Stay home and self-isolate from others in the household if you feel unwell</li>
		</ul>
		<p>Don't</p>
		<ul>
			<li>Touch your eyes, nose, or mouth if your hands are not clean</li>
		</ul>

	</div>

</body>
{% endblock %}
