{% extends 'basic.jinja2' %}

{% block content %}
<h2>World COVID-19 data</h2>
<ul>
	{% for continent in continents %}
		<li><a href="{{ url_for('continent', continent=continent) }}">{{ continent }}</a></li>
	{% endfor %}
</ul>

<h3><a href="{{ url_for('india', state_name=state_name) }}">India COVID-19 data</h3>

{% endblock %}
